{
    "app": {
        "port": 3000
    },
    "mqtt": {
        "host": "siot.net",
        "port": "1883"
    },
    "mongodb": {
        "host": "demo:astrewq5@ds245971.mlab.com:45971",
        "db": "siot-dev"
    }
}
