
body,h1 {
  font-family: "Raleway",
  sans-serif
}

body, html {
  height: 100%
}

.bgimg {
    background-image: url('/images/index-bg.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.logo {
  background-image: url('/images/logo.png');
}